<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="BA" type="ESRIUK.XXX.PerilsAndProximity.BestAddressService.Configuration.BAConfigurationSection, BestAddressConfiguration"/>
    <section name="ArcGISRest" type="ESRIUK.XXX.PerilsAndProximity.GlobalDataAccess.ArcGIS.Configuration.ArcGISRestConfigurationSection, GlobalDataAccess"/>
    <section name="ParameterChecker" type="ESRIUK.XXX.PerilsAndProximity.GlobalUtility.ParameterCheckerConfigurationSection, GlobalUtility"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <!--
    For a description of web.config changes see https://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <!-- Note: specific runtime tag added so the TLS level can be autoset by the framework. -->
    <httpRuntime targetFramework="4.7.2" />
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>

  <system.net>
    <defaultProxy useDefaultCredentials="true">
      <proxy usesystemdefault="true" proxyaddress="http://0.0.0.0:8080" bypassonlocal="true" />
    </defaultProxy>
  </system.net>

  <system.serviceModel>
    <!-- bindings -->
    <bindings>
      <basicHttpBinding>
        <binding name="webBinding" />
        <binding name="SecureHttpBinding">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="webBinding" />
        <binding name="SecureHttpBinding">
          <security mode="Transport" />
        </binding>
      </webHttpBinding>
    </bindings>
    <client/>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <standardEndpoints>
      <webScriptEndpoint>
        <standardEndpoint name="" crossDomainScriptAccessEnabled="true"/>
      </webScriptEndpoint>
    </standardEndpoints>
    <!-- behaviours -->
    <behaviors>
      <endpointBehaviors>
        <!-- JSON -->
        <behavior name="jsonBehaviour">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="BestAddressBehaviour">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!-- services -->
    <!-- SN 230821: In Esri UK config, the following services section is consistent for all services, except for the name/contract attribute i.e. ESRIUK.XXX... -->
    <services>
      <service behaviorConfiguration="BestAddressBehaviour" name="ESRIUK.XXX.PerilsAndProximity.BestAddressService.BestAddress">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="SecureHttpBinding" contract="ESRIUK.XXX.PerilsAndProximity.BestAddressService.IBestAddress"></endpoint>
        <endpoint address="json" behaviorConfiguration="jsonBehaviour" binding="webHttpBinding" bindingConfiguration="SecureHttpBinding" contract="ESRIUK.XXX.PerilsAndProximity.BestAddressService.IBestAddress" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <ArcGISRest FeatureService="https://xxxxxxxxx.opd.ads.uk.XXX-ins.com/arcgis/rest/services/reference_data/MapServer" GeocoderAccuracyMappingLayerNo="1" DomainLookupsLayerNo="2" CountryConfigLayerNo="3"/>
  <ParameterChecker>
    <Parameters>
      <Parameter Name="CountryCode" MaxLength="10" InvalidCharacters="';"></Parameter>
    </Parameters>
  </ParameterChecker>
  <BA CountryCentroidGeocodeSource="RCY" CacheHoursToExpire="3">
    <Bing ShortName="BIN" LongName="Bing Maps Geocode Client" Key="AoIODejiVYXKbCI6LFQaYVRTCJjxVmzk1dbX74lQoz_0uNtVIC5Kpo1qjtOY772O" URL="https://xxxx.net/REST/v1/Locations" Timeout="10000" ThroughputPerSecond="10"/>
    <Google ShortName="GOO" LongName="Google Maps Geocode Client" ClientID="gme-XXXinsurancegroup" Key="ncJ9tTptKSzAW26oAi-MKucIpiU=" URL="https://xxxx.com/maps/api/geocode/json" Timeout="10000" ThroughputPerSecond="20"/>
    <AddressCloud ShortName="EAC" LongName="AddressCloud" BauCalUserName="EsriTech" BauCalPwd="EsriTech" URL="http://lxxxxx:5001/rest/XXX.cmr.esri.address.bestmatch.get.V01.web.addressBestMatchGet" Timeout="10000" ThroughputPerSecond="30" Fuzzy="0" MinMatch="postcode1" DeliveryPointOnly="true" PostcodeMatch="auto"/>
  </BA>
  <log4net>
    <appender name="BestAddressLog" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <file value="logs\BestAddressLog.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="50000KB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d [%t] %c - %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="BestAddressLog"/>
    </root>
  </log4net>
</configuration>